<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.purple.smoke">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/smoke"
        android:label="@string/app_name"
        android:name=".Smoke"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Authenticate"
            android:noHistory="true" />
        <activity
            android:name=".Chat"
            android:noHistory="true"
	    android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fire"
            android:noHistory="true" />
        <activity
            android:name=".MemberChat"
            android:noHistory="false"
	    android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/app_name"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity
            android:name=".Smokescreen"
            android:noHistory="false" />
	<activity
            android:name=".Steam"
            android:noHistory="false" />
	<service android:enabled="true"
		 android:exported="false"
		 android:name=".SmokeService" />
    </application>
</manifest>
